<style>
    div{
        vertical-align: middle;
    }
    button{
        background-color: orangered;
        margin-bottom: 5%;
        text-align: center;
    }
    h3{
        color: orangered;
    }
</style>
<div class="container  mt-5 p-5">  
    <div class="row justify-content-center text-center">  
        <div class="col-md-8">  
            <div class="card">  
                <h3 class="card-header bolder text-center">Reset Password</h3>  
                <hr/>
                <form (ngSubmit)="onSubmit()" #frm="ngForm">   
                    <div class="card-body">  
                        <div class="form-group row">  
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>  
                            <div class="col-md-6">  
                                <input type="text" [ngModel]='user.email'  class="form-control" name="email">  
                            </div>  
                        </div>  
                        <div class="form-group row">  
                            <label for="username" class="col-md-4 col-form-label text-md-right">User Name</label>  
                            <div class="col-md-6">  
                                <input type="text" [ngModel]='user.username' class="form-control" name="username">  
                            </div>  
                        </div>  
                        <div class="form-group row">  
                            <label for="pass" class="col-md-4 col-form-label text-md-right">Password</label>  
                            <div class="col-md-6">  
                                <input type="password" [ngModel]='user.password' class="form-control" name="txtPassword" #txtPassword="ngModel" compare-password="txtConfirmPassword" parent="true" required>  
                                <span class="text-danger" *ngIf="txtPassword.dirty && txtPassword.errors && txtPassword.errors.required">Password is required </span>  
                            </div>  
                        </div>  
                        <div class="form-group row">  
                            <label for="confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>  
                            <div class="col-md-6">  
                                <input type="password" [ngModel]='user.confirmPassword' class="form-control" name="txtConfirmPassword" #txtConfirmPassword="ngModel" compare-password="txtPassword" required>   
                                <span class="text-danger" *ngIf="txtConfirmPassword.dirty && txtConfirmPassword.errors && txtConfirmPassword.errors.required">Password is required </span>  
                                <span class="text-danger" *ngIf="txtConfirmPassword.dirty && ((txtPassword.errors && txtPassword.errors.compare) || (txtConfirmPassword.errors && txtConfirmPassword.errors.compare)) && !txtConfirmPassword.errors.required">Password Doesn't match</span>  
                            </div>  
                        </div>  
                        <div class="col">  
                            <button type="submit" style="background-color: orangered;"  class="btn">  
                                Register  
                            </button>  
                        </div>  
                    </div>  
                </form >  
            </div>  
        </div>  
    </div>  
</div>  
