<style>
    th,td{
      text-align: center;
    }
    .align{
      vertical-align: middle !important;
    }
  </style>
  <div class="row">
    <div class="col-md-12">
      <div class="card container">
        <div class="card-header row form-group">
          <div class="col">
            <h4 class="card-title"> Stores</h4>
          </div>
          <div class="col-4 mr-3 row">
              <div class="col-2  bd-highlight">
                <select class="custom-select" style="border:1px solid orange;height: 32px; border-radius: 5px;" [(ngModel)]="itemsCount">
                  <option selected>5</option>
                  <option>10</option>
                  <option>20</option>
              </select>
              </div>
            
            <div class="col">
              <!-- <input type="text" class="form-control fa fa-search"  autocomplete="off" placeholder="&#61442; Search..."  [(ngModel)]="filterTerm"> -->
              <input type="text" name="filterTerm" placeholder="&#61442; Search..." class="form-control fa fa-search"
              [(ngModel)]="filterTerm" (input)="search($event.target.value)" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-striped">
            <table class="table text-center">
              <thead class=" text-primary text-center">
                <th class="col-1">
                  #
                </th>
                <th class="col-1">
                  Name
                </th>
                <th class="col-1">
                  Image
                </th>
                <th class="col-1">
                  Description
                </th>
                <th class="col-1">
                  Address
                </th>
                <th class="col-1">
                  Cusine
                </th>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let store of stores |filter: filterTerm | paginate : {
                  id: 'myList',
                  itemsPerPage: itemsCount,
                  currentPage: p,
                  totalItems: stores.length
              }">
                  <td class="align">
                    {{store.storeId}}
                  </td>
                  <td class="align">
                    {{store.storeName}}
                  </td>
                  <td class="align">
                    <img src={{store.storeImage}} />
                  </td>
                  <td class="align col-2">
                    {{store.storeDescription}}
                  </td>
                  <td class="align col-2">
                    {{store.storeAddress}}
                  </td>
                  <td class="align">
                    {{store.cuisine.cuisineName}}
                  </td>
                  <!-- <td class="align">
                    <button type="button" class="btn btn-danger" (click)="deleteStore(store.storeId,store.storeName)" aria-label="Left Align">
                      <span class="glyphicon glyphicon-remove" ></span>
                    </button>
                </td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center  mt-5">
            <pagination-controls id="myList" (pageChange)="p = $event" (pageBoundsCorrection)="p=$event">
            </pagination-controls>
        </div>
        </div>
      </div>
    </div>
  </div>
