<style>
    th{
      text-align: center;
    }
    </style>
  <div class="row">
    <div class="col-md-12">
      <div class="card container">
        <div class="card-header row">
          <div class="col">
            <h4 class="card-title">Partners</h4>
          </div>
          <div class="col-3">
            <!-- <input type="text" class="form-control fa fa-search"  autocomplete="off" placeholder="&#61442; Search..."  [(ngModel)]="filterTerm"> -->
            <input type="text" name="filterTerm" placeholder="&#61442; Search..." class="form-control fa fa-search"
            [(ngModel)]="filterTerm" (input)="search($event.target.value)" />
          </div>
        </div>
        <div class="card-body">
          <div class="table-striped">
            <table class="table text-center">
              <thead class=" text-primary text-center">
                <th class="col-1">
                  #
                </th>
                <th class="col-1">
                  Fristname
                </th>
                <th class="col-1">
                  Lastname
                </th>
                <th class="col-1">
                  Email
                </th>
                <th class="col-1">
                  PhoneNo
                </th>
                <!-- <th class="col-1">
                  Password
                </th> -->
                <th class="col-1">
                  storeId
                </th>
                <th class="col-1">
                  Action
                </th>
               <!-- <th class="text-right">
                  storeImage
                </th>
                <th class="text-right">
                  storeDescription
                </th>
                <th class="text-right">
                  storeAddress
                </th>
                <th class="text-right">
                  storeLatitude
                </th>
                <th class="text-right">
                  storeLongitude
                </th> -->
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let partner of searchPartners |filter:filterTerm">
                  <td>
                    {{partner.partnerId}}
                  </td>
                  <td>
                    {{partner.partnerFname}}
                  </td>
                  <td>
                    {{partner.partnerLname}}
                  </td>
                  <td>
                    {{partner.partnerEmail}}
                  </td>
                  <td>
                    {{partner.partnerPhoneNo}}
                  </td>
                  <!-- <td>
                    {{partner.partnerPassword}}
                  </td> -->
                  <td>
                    {{partner.store["storeId"]}}
                  </td>
                  <td class="text-center">
                      <button type="button" class="btn btn-danger" (click)="delete(partner.partnerId,partner.partnerFname)" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove" ></span>
                      </button>
                  </td>
                  <!-- <td>
                    <img src="{{partner.store['storeImage']}}"/>
                  </td>
                  <td>
                    {{partner.store["storeDescription"]}}
                  </td>
                  <td>
                    {{partner.store["storeAddress"]}}
                  </td>
                  <td>
                    {{partner.store["storeLatitude"]}}
                  </td>
                  <td>
                    {{partner.store["storeLongitude"]}}
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  